[submodule "thirdparty/face_detect_inference"]
	path = thirdparty/face_detect_inference
	url = https://github.com/heroinlin/interface_object_detection.git
[submodule "thirdparty/face_track_inference"]
	path = thirdparty/face_track_inference
	url = https://github.com/heroinlin/interface_object_tracker.git
[submodule "thirdparty/face_recognition_inference"]
	path = thirdparty/face_recognition_inference
	url = https://github.com/heroinlin/face_recognition_inference.git
[submodule "thirdparty/face_quality_judge_interence"]
	path = thirdparty/face_quality_judge_interence
	url = https://github.com/heroinlin/face_quility_judge_interface.git
[submodule "thirdparty/pedestrain_detect_inference"]
	path = thirdparty/pedestrain_detect_inference
	url = https://github.com/heroinlin/pedestrain_detect_inference.git
[submodule "thirdparty/face_landmark_detect_interface"]
	path = thirdparty/face_landmark_detect_interface
	url = https://github.com/heroinlin/face_landmark_detect_interface.git
